
.fa-youtube
{
	 margin: auto; display: block;
	font-size: xx-large;
	color: white;
	margin-top: 10px;

}
.fa-facebook
{ 
	font-size: xx-large;
	color: white;
	margin-top: 10px;

}
.fa-twitter
{
	font-size: xx-large;
	color: white;
	margin-top: 10px;
}
.center
{
	position: relative;
	visibility: visible;
	width: 50%;
    margin: 0 auto;
    background-color: #3095d3;
 
}
.twitter
{
	float: left; 
	width: 33%;
	height: 55px;
	background-color: #746a75;
	text-align:center;
}
.twitter:hover
{
		background-color: #3095d3;
}

.fb
{
	
	float: left; 
	width: 33%;
	height: 55px;
	background-color: #c0c0c0;
	text-align:center;

}
.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	float: left; 
	width: 33%;
	height: 55px;
	background-color: #c0c0c0;
	
	text-align:center;
}
.yt:hover
{
	background-color: #d94348;
}
.test
{
	font-size: xx-large;
	background-color: #d94348;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
.test
{
		position: relative;
		z-index: 2;
		background: none;
}
